@model AdminRoleDto

@section page_header 
{
    <div class="btn-list">
        <a href="/adminroles/edit/0" class="btn btn-primary">
            <i class="ri-add-circle-line me-1"></i> Yeni
        </a>
    </div>
}


<grid id="gridAdminRole" class="table table-hover" url="/adminroles/read">
    <column for="Name"></column>
    <column for="Status" template="$template.status"></column>
    <column for="CreateDate"></column>
    <column for="Id" orderable="false" template="$template.actions" title="İşlemler" style="width:8rem;"></column>

    <filters column-count="4">
        <field for="Name" type="TEXT" lg-size="2"></field>
        <field for="Status" type="SELECT" lg-size="1" items="@(Html.GetEnumSelectList<Status>())"></field>
    </filters>
</grid>
@section scripts 
{
    <script src="/assets/js/pages/adminrole/index.js" asp-append-version="true"></script>
}