@model ResetPasswordRequest
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-vertical-style="overlay" data-theme-mode="light" data-header-styles="light" data-menu-styles="light" data-toggled="close">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SimpleProject - Şifremi unuttum</title>
    <link rel="icon" href="/assets/images/toggle-logo.png" type="image/x-icon" />
	<link href="/assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/assets/libs/remixicon/remixicon.css" rel="stylesheet" />
	<link href="/assets/css/styles.css" rel="stylesheet" />
</head>
<body class="authentication-background">
    <div class="container">
        <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="card custom-card my-4">
                    <div class="card-body p-5">
                        <div class="mb-3 d-flex justify-content-center">
                            <a href="index.html">
                                <img src="/assets/images/desktop-logo.svg" alt="logo" class="desktop-logo">
                                <img src="/assets/images/desktop-logo.svg" alt="logo" class="desktop-white">
                            </a>
                        </div>
                        <p class="h5 mb-2 text-center">Şifremi unuttum</p>
                        <p class="mb-4 text-muted op-7 fw-normal text-center">Aşağıdaki formu gönderdiğinizde e-posta adresinize şifremi güncelleme linki gönderilecektir</p>
						@if (!ViewContext.ModelState.IsValid)
						{
							<div class="alert alert-danger" role="alert">
								@(Html.Raw(this.GetErrorMessage()))
							</div>
						}

						@if (ViewBag.Success)
						{
							<div class="alert alert-success" role="alert">
								İşlem başarılı, lütfen e-posta adresiniz kontrol ediniz
							</div>
						}
                        <form id="login-form" class="login-form" method="post" action="/home/forgotpassword" asp-antiforgery="true">
                            <div class="row gy-3">
                                <div class="col-xl-12">
									<label for="Email" class="form-label text-default">
										E-Posta
                                        <sup class="fs-12 text-danger">*</sup>
                                    </label>
									<input type="text" class="form-control" id="Email" name="Email" />
                                </div>
                            </div>
                            <div class="d-grid mt-4">
								<button type="submit" class="btn btn-primary">Gönder</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/libs/jquery/jquery.min.js"></script>
    <script src="/assets/libs/jquery-validation/jquery.validate.min.js"></script>
    <script src="/assets/libs/jquery-validation/localization/messages_tr.min.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/ruleway/main.js"></script>
    <script>
        $(function () {
            $("#login-form").validate();
            if (localStorage.getItem("darktheme")) {
                $("html").attr('data-theme-mode', 'dark');
            }
        });
    </script>
</body>
</html>
